.wrapper {
  max-width: 300px;
  margin: 0 auto;
  border: 1px solid #232323;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.menu {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%);
  background-color: aquamarine;
  padding: 15px;
  border: 1px solid #232323;
}
