.iconBtn {
  padding: 10px;
  border: none;
  border-radius: 50%;
  color: #fff;
  font: inherit;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  transition: transform 300ms linear;
}
.iconBtn:hover {
  transform: scale(1.2);
}
